//hard-refresh the browsersync window before making changes
//  to make sure the browser doesn't use cached css files

//Fonts - try Lora for headings, and Roboto or Raleway/rawline for body
  //font-family: 'Raleway', sans-serif;
  //font-family: 'rawline', sans-serif;
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Lora', serif;

// // declarations // //
$accent: #d9e6fc;
$textColor: #333333;
$breakpoint-large: 919px;
$breakpoint-med: 709px;
$breakpoint-small: 526px;
// //              // //

// // html, body and misc // //
html {
  font-family: 'rawline', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
@media (max-width: $breakpoint-med) {
 html {
   font-size: 14px;
 }
}
@media (max-width: $breakpoint-small) {
 html {
   font-size: 12px;
 }
}
body {
  color: $textColor;
  position:relative;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.align-right {
  text-align: right;
}
#counter-debug {
  display: none;
}
a {
  text-decoration: none;
  //font-weight: 600;
  color: #545454;
}
a:hover {
  text-decoration: underline;
}
// //                     // //


// // navbar // //
nav {
  display: flex;
  justify-content: center;
}
nav {
  .brand {
    //width: 300px;
    display: flex;
    justify-content: flex-start;
  }
  .brand-image {
    padding: 1rem 1rem;
    height: 4rem;
    font-size: 2rem;
    padding-right: 0;
  }
  .brand-title {
    padding: 0.5rem 0.5rem;
    padding-left: 0.35rem;
    font-size: 2rem;
  }
  .brand-image img {
    display: block;
    height: 2rem;
    margin: auto;
  }
  ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
  }
  ul li {
    padding: 0.5em 0.5em;
  }
} //end nav
// //        // //



// // table // //

.container {
  margin: 0 auto;
  width: 900px;
}
.table {
  width: 900px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
@media (max-width: $breakpoint-large) {
  .container {
    width: 100%;
  }
  .table {
    width: 100%;
  }
}
.header {
  font-family: 'Exo 2', sans-serif;
  font-size: 0.8rem;
  color: rgba(33,33,33,0.7);
  background-color: $accent;
  padding: 10px 0 10px 0;
  position: relative;
  pointer-events: none; //until this column has finished loading you can't click headers to sort.
  cursor: wait;
  user-select: none;
  position: sticky;
  top: 0px;
  z-index: 5;
}
.table-row-header {
  border: none;
}
#header-Cryptocurrency {
  width: 45%;
  padding-left: 80px;
}
#header-Marketcap {
  width: 20%;
  text-align: right;
  padding-right: 20px;
}
#header-Price {
  width: 10%;
  text-align: right;
  padding-right: 20px;
}
#header-Change {
  width: 25%;
  text-align: center;
}
.loader {
  display: inline-block;
  position: absolute;
  bottom: calc(50% - 8px);
  margin-left: 5px;
  height: 16px;
  width: 16px;
}
.caret {
  display: none;
  position: absolute;
  bottom: calc(50% - 10px);
  margin-left: 5px;
  //z-index: 2;
  height: 14px;
  width: 14px;
  cursor: pointer;
}
.caret-fill {
  display: none;
  position: absolute;
  bottom: calc(50% - 10px);
  margin-left: 5px;
  z-index: 2;
  height: 14px;
  width: 14px;
  cursor: pointer;
}
@media (max-width: $breakpoint-med) {
  .caret, .caret-fill {
    margin-left: 2px;
  }
}
.rotated {
  transform: rotate(180deg);
}
.caret img {
  pointer-events: none
}
tr {
 border-bottom: 1px solid $accent;
}

td {
  font-size: 1rem;
}

td {
  &.index {
    width: 50px;
    text-align: center;
  }
  img.coin-image {
    width: 30px;
    min-width: 30px;
  }
  &.short {
    width: 40px;
  }
  &.short-placeholder {
    display: none;
  }
  &.long {
    padding-left: 3px;
  }
  &.marketcap {
    padding-right: 20px;
  }
  &.price {
    padding-right: 20px;
  }
  &.chart {
    padding-left: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .chart-container {
    height: 80px;
    width: 150px;
  }
  .canvasjs-chart-container {
    overflow: hidden;
    width: 150px;
    height: 64px;
    pointer-events: none;
  }
  .canvasjs-chart-canvas {
    pointer-events: none;
  }
  &.coinHist {
    padding-right: 10px;
  }
} //end td
@media (max-width: $breakpoint-med) {
  #header-Cryptocurrency {
    text-align: center;
    padding-left: 0px;
  }
  #header-Marketcap {
    display: none;
  }
  #header-Price {
    padding-right: 15px;
    width: 20%;
  }
  #header-Change {
    width: 35%;
  }
  td.index {
    width: 40px;
  }
  td img.coin-image {
    margin: 0 5px 0 0;
    width: 30px;
    min-width: 20px;
  }
  td.short {
    display: none;
  }
  td.short-placeholder {
    display: table-cell;
  }
  td.price {
    padding-right: 15px;
  }
  td.marketcap {
    display: none;
  }
  td.chart {
    padding-left: 0px;
  }
  .canvasjs-chart-canvas {
    width: 110px;
    //height: 39px;
  }
  td .canvasjs-chart-container {
    // width: 96px;
    height: 64px;
  }
  td .chart-container {
    //height: 41px; //need to re-do the html to remove the element-level specificity that is stopping this from working
    width: 110px;
    margin: 0 auto -15px auto;
  }
  td.coinHist {
    padding-right: 3px;
    text-align: center;
  }
}
@media (max-width: $breakpoint-small) {
  td .img.coin-image {
    width: 20px;
  }
}
// //       // //



// // footer // //
.footer-outer {
  padding-top: 200px; //more than footer-height
}
.footer-inner {
  background-color: #f1f1f1;
  color: #4a4a4a;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
  //clear:both;
}
.footer-inner-left {
  width: 25%;
  float: left;
  padding-top: 65px;
  text-align: center;
}
#portfolio {
  font-weight: 600;
}
.footer-inner-right {
  width: 200px;
  //float: right;
  margin: 0 auto;
  //display: flex;
}
.footer-resources-title {
  font-size: 1.25rem;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.footer-resources {
  display: grid;
  width: 200px;
}
.footer-resources div {
  padding-bottom: 10px;
}
.footer-resources div a {
  display: flex;
  align-items: center;
}
.footer-resources-img {
  height: 2rem;
}
.footer-resources-text {
  vertical-align: middle;
  padding-left: 10px;
  padding-bottom: 5px;
}
@media (max-width: $breakpoint-med) {
  .footer-outer {
    padding-top: 259px;
  }
  .footer-inner {
    display: grid;
  }
  .footer-inner-left {
    order: 2;
    padding: 15px 0;
    margin: 0 auto;
    width: 200px;
    border-top: 1px solid #b2b2b2;
  }
  .footer-inner-right {
    order: 1;
    width: 150px;
  }
  .footer-resources {
    width: 150px;
  }
}
@media (max-width: $breakpoint-small) {
  .footer-outer {
    padding-top: 225px;
  }
}
//put grid on footer-inner
// put order: 2 on inner-left, order: 1 on inner-right
// //        // //