//hard-refresh the browsersync window before making changes
//  to make sure the browser doesn't use cached css files

//Fonts - try Lora for headings, and Roboto or Raleway/rawline for body
  //font-family: 'Raleway', sans-serif;
  //font-family: 'rawline', sans-serif;
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Lora', serif;

// // declarations // //
$accent: #d9e6fc;
$textColor: #333333;
// //              // //

// // html, body and misc // //
html {
  font-family: 'rawline', sans-serif;
  box-sizing: border-box;
}
body {
  color: $textColor;
  position:relative;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.align-right {
  text-align: right;
}
#counter-debug {
  display: none;
}
// //                     // //


// // navbar // //
nav {
  display: flex;
  justify-content: space-between;
}
nav {
  .brand {
    padding: 0.5em 0.5em;
  }
  ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
  }
  ul li {
    padding: 0.5em 0.5em;
  }
} //end nav
// //        // //



// // table // //

.container {
  margin: 0 auto;
  width: 900px;
}
.table {
  width: 900px;
}
.thead {
  font-family: 'Exo 2', sans-serif;
  font-size: 0.8rem;
  color: rgba(33,33,33,0.7);
  background-color: $accent;
  padding: 10px 0 10px 0;
  position: relative;
  pointer-events: none; //this is temporary, until this column has finished loading you can't click to sort.
  cursor: wait;
  user-select: none;
}
#thead-Cryptocurrency {
  width: 45%;
  padding-left: 80px;
}
#thead-Marketcap {
  width: 20%;
  text-align: right;
  padding-right: 20px;
}
#thead-Price {
  width: 10%;
  text-align: right;
  padding-right: 20px;
}
#thead-Change {
  width: 25%;
  text-align: center;
}
.loader {
  display: inline-block;
  position: absolute;
  bottom: calc(50% - 8px);
  margin-left: 5px;
  height: 16px;
  width: 16px;
}
.caret {
  display: none;
  position: absolute;
  bottom: calc(50% - 10px);
  margin-left: 5px;
  //z-index: 2;
  height: 14px;
  width: 14px;
  cursor: pointer;
}
.caret-fill {
  display: none;
  position: absolute;
  bottom: calc(50% - 10px);
  margin-left: 5px;
  z-index: 2;
  height: 14px;
  width: 14px;
  cursor: pointer;
}
.rotated {
  transform: rotate(180deg);
}
.caret img {
  pointer-events: none
}
tr {
 border-bottom: 1px solid $accent;
}

td {
  //border: 1px solid red; background-color: rebeccapurple;
}

td {
  &.index {
    width: 50px;
    text-align: center;
  }
  img {
    width: 30px;
  }
  &.short {
    width: 40px;
  }
  &.long {
    padding-left: 3px;
  }
  &.marketcap {
    padding-right: 20px;
  }
  &.price {
    padding-right: 20px;
  }
  &.chart {
    padding-left: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .canvasjs-chart-container {
    overflow: hidden;
    width: 150px;
    height: 64px;
    pointer-events: none;
  }
  .canvasjs-chart-canvas {
    pointer-events: none;
  }
  &.coinHist {
    padding-right: 10px;
  }
} //end td
// //       // //



// // footer // //
.footer-outer {
  padding-top: 200px; //more than footer-height
}
.footer-inner {
  background-color: #f1f1f1;
  color: #4a4a4a;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
  //clear:both;
}
.footer-inner-left {
  width: 25%;
  float: left;
  padding-top: 65px;
  text-align: center;
}
.footer-inner-right {
  width: 200px;
  //float: right;
  margin: 0 auto;
  //display: flex;
}
.footer-resources-title {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.footer-resources {
  display: grid;
}
.footer-resources div {
  padding-bottom: 10px;
}
.footer-resources div a {
  display: flex;
  align-items: center;
  width: 300px;
}
.footer-resources-img {
  height: 2rem;
}
.footer-resources-text {
  vertical-align: middle;
  padding-left: 10px;
  padding-bottom: 5px;
}
// //        // //