html {
  font-family: 'rawline', sans-serif;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.align-right {
  text-align: right; }

nav {
  display: flex;
  justify-content: space-between; }

nav .brand {
  padding: 0.5em 0.5em; }

nav ul {
  display: inline-flex;
  padding: 0;
  margin: 0; }

nav ul li {
  padding: 0.5em 0.5em; }

.container {
  margin: 0 auto;
  width: 900px; }

.table {
  width: 900px; }

.thead {
  font-family: 'Exo 2', sans-serif;
  font-size: 0.8rem;
  color: rgba(33, 33, 33, 0.7);
  background-color: #d9e6fc;
  padding: 10px 0 10px 0;
  position: relative;
  pointer-events: none;
  cursor: wait; }

#thead-Cryptocurrency {
  width: 45%;
  padding-left: 80px; }

#thead-Marketcap {
  width: 20%;
  text-align: right;
  padding-right: 20px; }

#thead-Price {
  width: 10%;
  text-align: right;
  padding-right: 20px; }

#thead-Change {
  width: 25%;
  text-align: center; }

.loader {
  display: inline-block;
  position: absolute;
  bottom: calc(50% - 8px);
  margin-left: 5px;
  height: 16px;
  width: 16px; }

.caret {
  display: none;
  position: absolute;
  bottom: calc(50% - 10px);
  margin-left: 5px;
  height: 14px;
  width: 14px;
  cursor: pointer; }

.caret-fill {
  display: none;
  position: absolute;
  bottom: calc(50% - 10px);
  margin-left: 5px;
  z-index: 2;
  height: 14px;
  width: 14px;
  cursor: pointer; }

.rotated {
  transform: rotate(180deg); }

.caret object {
  pointer-events: none; }

tr {
  border-bottom: 1px solid #d9e6fc; }

td.index {
  width: 50px;
  text-align: center; }

td img {
  width: 30px; }

td.short {
  width: 40px; }

td.long {
  padding-left: 3px; }

td.marketcap {
  padding-right: 20px; }

td.price {
  padding-right: 20px; }

td.chart {
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 5px; }

td .canvasjs-chart-container {
  overflow: hidden;
  width: 150px;
  height: 64px; }

td.coinHist {
  padding-right: 10px; }
